@model CG_P.Models.Edificio

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Edificio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad_personas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cantidad_personas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_alquiler)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fecha_alquiler)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_provincia)
        </dt>
        <dd class="col-sm-10">

            <select asp-for="@Model.id_provincia"
                    class="form-control" asp-items="ViewBag.Provincias" disabled>
            </select>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_canton)
        </dt>
        <dd class="col-sm-10">
            <select asp-for="@Model.id_canton"
                    class="form-control" asp-items="ViewBag.Cantones" disabled>
            </select>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_destrito)
        </dt>
        <dd class="col-sm-10">
            <select asp-for="@Model.id_destrito"
                    class="form-control" asp-items="ViewBag.Distritos" disabled>
            </select>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_edificio)
        </dt>
        <dd class="col-sm-10">
            <select asp-for="@Model.tipo_edificio"
                    class="form-control" asp-items="ViewBag.TipoEdificio" disabled>
            </select>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_final_alquiler)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fecha_final_alquiler)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
