@model IEnumerable<CG_P.Models.Edificio>

@{
    ViewData["Title"] = "Lista";
}

<h1>Lista de edificios</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad_personas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_alquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_canton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_destrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo_edificio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_final_alquiler)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad_personas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_alquiler)
                </td>
                <td>
                    <select asp-for="@item.id_provincia"
                        class="form-control" asp-items="ViewBag.Provincias" disabled>
                    </select>
                </td>
                <td>
                    <select asp-for="@item.id_canton"
                        class="form-control" asp-items="ViewBag.Cantones" disabled>
                    </select>
                </td>
                <td>
                    <select asp-for="@item.id_destrito"
                        class="form-control" asp-items="ViewBag.Distritos" disabled>
                    </select>
                </td>
                <td>
                    <select asp-for="@item.tipo_edificio"
                        class="form-control" asp-items="ViewBag.TipoEdificio" disabled>
                    </select>
                </td>
                @if (@item.tipo_edificio == 2)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha_final_alquiler)
                    </td>
                }
                else
                {
                    <td> No tiene   </td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a> |
                    <a asp-action="Add_Service" asp-route-id="@item.id">Agregar Servicio</a>
                </td>
            </tr>
        }
    </tbody>
</table>
